body{
    color: white;
        background-color: aquamarine;
}
h3{
    width: 80%;
    font-size: 22px;
}
.name_of_objects{
    color: green;
}
#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
.name_of_objects{
    color: black;
}